/* Fonts Import Here */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-Raleway text-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-Rancho;
    }
}



@layer components {
    .header-bg {
        background: url("https://raw.githubusercontent.com/ProgrammingHero1/coffee-store-espresso-emporium/main/images/more/15.jpg");
        @apply bg-cover bg-center
    }

    .footer-bg {
        background: url("https://raw.githubusercontent.com/ProgrammingHero1/coffee-store-espresso-emporium/main/images/more/13.jpg");
        @apply bg-cover bg-center
    }

    .primary-btn {
        @apply py-2 px-6 font-Rancho text-2xl text-[#242222] bg-secondary transition-all duration-200
    }

    .primary-btn:hover, .secondary-btn:hover {
        @apply text-white bg-theme
    }

    .secondary-btn {
        @apply border-2 border-theme rounded-full py-2 px-6 font-Rancho text-2xl text-theme transition-all duration-200
    }

    .hero-bg {
        background: url('/assets/heroBG.png');
        @apply bg-cover bg-[-100px] md:bg-center
    }

    .popular-product {
        background: url('/assets/popular-product-bg.png');
        @apply bg-cover bg-center md:bg-center
    }

    .add-coffee {
        background: url('/assets/add-coffe-bg.png');
        @apply bg-cover bg-center md:bg-center
    }
}